body {
  font-family: Lato, serif;
  color: rgb(40, 40, 40);
  background-color: rgba(85, 132, 171, 0.15);
}

.container {
  width: 500px;   /* Set width */
  margin: 0 auto; /* Automatically set left/right margins */
  letter-spacing: 0.5px;
}

h1, h2, h3 {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.75px;
  text-align: center;
  margin: 10px 0px;
}

p {
  font-size: 16px;
  margin: 10px 0px;
}

td h3 {
  font-size: 22px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

a:hover {
  color: rgb(0, 0, 0);
}

.img-circle {
  border-radius: 50%;
}

.avatar {
  margin: 0 auto;
  margin-top: 10px;
  width: 180px;
}

.text-center {
  text-align: center;
}

.card {
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  border: solid 1px rgb(200, 200, 200);
  box-shadow: 2px 2px 5px #888888;
  margin: 20px;
}

.album-art {
  height: 150px;
  width: 150px;
}

ul {
  padding-left: 0px;
  margin: 0px;
}

#footer-ul {
  padding-bottom: 10px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 8px;
}

table, th, td {
   padding: 10px;
   padding-top: 0px;
   /*border: 1px solid black;*/
}
